<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
    <div class="container">
    <h1>Shop Smart, Save Big</h1>
    <p>Get our great offers at incredible prices!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Singup &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Start Your Search here</h2>
            <p>Signup here to start buying</p>
        </div>
        <div class="col-md-4">
            <h2>Item choise</h2>
            <p>Great asortiman of products</p>
        </div>
        <div class="col-md-4">
            <h2>Numerous payment methods</h2>
            <p>Choose your payment method</p>
        </div>
    </div>
</div>
